{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="mx-auto text-center">
    <div class="card bg-gradient-info mx-auto justify-content-center shadow-5 mt-lg-5 mt-md-2 mb-auto"
         style="width: 18rem;border-width:5">
        <div class="card-header mx-auto ">

            <h1 class="display-4 mt-2 py-2 card-title text-center ">Reset Password </h1>

        </div>

        <div class="card-body text-center">

            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{form | crispy}}

                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-dark bg-gradient-pink" type="submit">
                        Reset Password Request
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}